<html>
    <body>
        <style>
            .done{
                text-decoration: line-through;
            }
        </style>
        <script src="http://unpkg.com/vue"></script>            
        <div id="app">
            <input type="text" v-model="currentTodo"></input><button @click="addTodo">Add</button>
            <todo key="todo.id" v-for="todo in todos" :todo="todo" @toggle="toggleTodo(todo)" @save="saveTheTodo"></todo>
        </div>
        <script>
            Vue.component('todo', {
                props: {
                    todo: {
                        type: Object,
                        required: true
                    }
                },
                //options
                template:   `<div>
                                <input type="checkbox" v-model="todo.isDone" @click="$emit('toggle')"></input>
                                <span v-if="!isEditing" :class="{done: todo.isDone}" @dblclick="startEdit">{{ todo.text }}</span>
                                <input v-else type="text" :value="todo.text" @keydown.enter="onEditDone($event)"></input>
                            </div>`,
                data() {return {
                    isEditing: false
                }},
                methods: {
                    startEdit(){
                        this.isEditing = !this.isEditing;
                    },
                    onEditDone(e){
                        console.log(e)
                        this.$emit('save', this.todo, e.target.value)
                        this.isEditing = false                        
                    }
                }
            })

            console.log(Vue.version);
            Vue.config.productionTip = false;

            const vm = new Vue({
                
                el: "#app",
                data() {
                    return { 
                        currentTodo: '',
                        todos: 
                        [{
                            id: 1, text: 'my first todo', isDone: false
                        },{
                            id: 2, text: 'todo2', isDone: false
                        },{
                            id: 3, text: 'todo3', isDone: false
                        }]
                    }
                },
                methods: {
                    toggleTodo(todo){
                        todo.isDone = !todo.isDone
                    },
                    addTodo(){
                        this.todos.push({ id: -1, text: this.currentTodo, isDone: false })
                        this.currentTodo = '';
                    },
                    saveTheTodo(todo, newVal){
                        console.log(todo);
                        console.log(newVal);
                        todo.text = newVal;
                    }
                }
            });
        </script>
    </body>
</html>